*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "montserrat";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

body{
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header img{
    height: 70px;
}

.titulo{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.subtitulo{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.ubicacion{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 227, 222);
    padding: 5px;
    align-items: center;
}

footer p, .articulo h4, .ubicacion p{
    text-align: center;
}

.contacto{
    display: none;
}

.redes{
    display: flex;
    flex-direction: column;
}

.redes p{
    display: none;
}

.cont-redes{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 8px;
    list-style: none;
    margin: 0px;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

footer .redes a{
    font-size: 25px;
}

footer img{
    height: 60px;
}



.cont-articulos, .cont-resenas, .cont-nosotros, .cont-pedido{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.articulo {
    display: flex;
    padding: 5px;
    gap: 5px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08);
}

.img-articulos{
    width: 50%;
    text-align: center;
}

.articulo img{
    width: 100%;
}

.info-articulos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.precio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.precio p{
    background-color: red;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 0px;
}



.resena{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08);
}

.contenido{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.contenido div{
    text-align: center;
}

.logo-user{
    font-size: 25px;
}

.resena img{
   width: 35%;
}

.cont-titulo-resenas i{
    font-size: 10px;
    padding-bottom: 10px;
}

.fecha{
    color: gray;
    font-size: 12px;
    text-align: right;
}



.cont-nosotros img {
    width: 100%;
}

.cont-nosotros p {
    text-align: justify;
}

.como-trabajamos{
    display: flex;
    flex-direction: column-reverse;
}



.cont-pedido{
    justify-content: center;
}

#banner{
    display: none;
}

#pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgb(205, 205, 205);
}

#pedido th, td{
    text-align: center;
}

#pedido img{
    width: 100%;
}

#pedido a{
    text-decoration: none;
    color: red;
}

#pedido a i{
    font-size: 12px;
}

.precio-tabla{
    display: none;
}

#total{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
}

.form-control {
    margin-bottom: 8px;
}

/* Vista Tablets --------------------------------------------------------------- */
@media (min-width: 768px) {
    .ubicacion{
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .ubicacion div{
        width: 40%;
        height: 300px;
    }

    .ubicacion iframe{
        width: 100%;
        height: 80%;
    }

    .contacto, .redes p{
        display: block;
    }

    .cont-articulos, .cont-resenas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .titulo:first-child{
        grid-column: span 2;
    }

    .quienes-somos, .como-trabajamos{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .quienes-somos img, .como-trabajamos img{
        width: 50%;
    }

    .cont-pedido{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "banner pedido"
            "banner envio";
        gap: 10px;
    }

    #banner{
        display: block;
        background-image: url(../assets/img/pizza-banner.jpg);
        background-position: right;
        background-size: cover;
        grid-area: banner;
    }

    #pedido{
        grid-area: pedido;
    }

    #envio{
        grid-area: envio;
    }

    #pedido img {
        max-width: 170px;
    }


}


/* Vista Laptops ------------------------------------------------------------------ */
@media (min-width: 1200px) {

    .img-carrusel{
        height: 600px;
        object-fit: cover;
        object-position: center;
    }

    .ubicacion div{
        height: 400px;
    }

     .cont-articulos, .cont-resenas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

    .titulo:first-child{
        grid-column: span 3;
    }

    .cont-nosotros, .cont-pedido{
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .cont-pedido{
        grid-template-columns: 10% 65% 25%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "banner pedido envio";
        gap: 20px;
    }

    #pedido{
        border-bottom: none;
        border-right: 1px solid rgb(205, 205, 205);
        padding-right: 20px;
    }
}