*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "montserrat";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

body{
    font-family: "montserrat", sans-serif;
    font-weight: 300;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

header img{
    height: 70px;
}

.titulo{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.subtitulo{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.ubicacion{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(212, 227, 222);
    padding: 10px;
}

footer p, .articulo h4, .ubicacion p{
    text-align: center;
}

.redes{
    display: flex;
    flex-direction: column;
}

.cont-redes{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    gap: 8px;
    list-style: none;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

footer .redes a{
    font-size: 25px;
}

footer img{
    height: 60px;
}

/* ------------------------------------------------ INDEX, HEADER Y FOOTER --------------------------------------------- */


.cont-articulos, .cont-resenas, .cont-nosotros, .cont-pedido{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.articulo {
    display: flex;
    padding: 5px;
    gap: 5px;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.articulo:last-child {
  border-bottom: none;
}

.img-articulos{
    width: 50%;
}

.articulo img{
    width: 100%;
}

.info-articulos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.precio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.precio p{
    background-color: red;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 0px;
}

/* --------------------------------------------- CARTA -------------------------------------------------------- */
.resena{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.08);
}

.contenido{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.contenido div{
    text-align: center;
}

.logo-user{
    font-size: 25px;
}

.resena img{
   width: 35%;
}

.cont-titulo-resenas i{
    font-size: 10px;
    padding-bottom: 10px;
}

.fecha{
    color: gray;
    font-size: 12px;
    text-align: right;
}

/* -------------------------------------- RESEÑAS ------------------------------------------- */

.cont-nosotros img {
    width: 100%;
}

.cont-nosotros p {
    text-align: justify;
}

.como-trabajamos{
    display: flex;
    flex-direction: column-reverse;
}

/* --------------------------------------- SOBRE NOSOTROS ------------------------------------------------ */

.cont-pedido{
    justify-content: center;
}

#banner{
    /* height: 800px;
    width: 20%;
    background-image: url(../assets/img/pizza-banner.jpg);
    background-position: right;
    background-size: cover; */
    display: none;
}

#pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pedido th, td{
    text-align: center;
}

#pedido img{
    width: 100%;
}

#pedido a{
    text-decoration: none;
    color: red;
}

#pedido a i{
    font-size: 12px;
}

#total{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
}

.form-control {
    margin-bottom: 8px;
}